.profile__container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.profile__container__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile__container__right__text {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile__container__right__text :nth-child(1) {
    font-size: 18px;
    font-weight: 300;
    color: var(--gray2);
}

.profile__container__right__text :nth-child(2) {
    font-size: 18px;
    font-weight: 400;
}